.card-popular {
  font-family: Roboto, 'sans-serif';
  background: white;
  height: 490px;
  width: 337px;
  /*Added border for reference only to see component in Storybook well*/
  border: 1px solid rgba(61, 94, 15, 0.15);
}

.card-popular--image {
  height: 257px;
}

.card-popular--container {
  padding-left: 10px;
  padding-right: 10px;
  height: 233px;
}

.card-popular--title {
  margin: 0;
  padding-top: 18px;
  color: #547818;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.card-popular--concepts-title {
  margin: 0;
  padding-top: 26px;
  color: #8E9D79;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.card-popular--concepts-content {
  margin: 0;
  padding-top: 8px;
  color: black;
  font-size: 22px;
  line-height: 26px;
}

.card-popular--stat-container {
  margin: 0;
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
}

.card-popular--stat-container a {
  text-decoration: none;
  font-weight: bold;
}

.card-popular--stat-container a:after {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  background: #547818;
  transition: 300ms;
}

.card-popular--stat-container a:hover:after {
  width: 100%;
}

.card-popular--stat {
  font-size: 14px;
  color: #787575;
}

.card-popular--stat-br {
  height: 16px;
  width: 3px;
  background-color: #C4C4C4;
}

.card-popular--apply-now {
  font-size: 14px;
  color: black;
}