a {
  text-decoration: none;
}

.card-popular {
  font-family: 'Roboto', sans-serif;
  background: white;
  height: 490px;
  width: 337px;
  /*Added border for reference only to see component in Storybook well*/
  border: 1px solid rgba(61, 94, 15, 0.15);
}

.course-image {
  height: 257px;
}

.course-info {
  margin-top: -4px;
  padding: 10px;
  height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-title {
  margin: 0;
  color: #547818;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.concepts--title {
  margin: 0;
  color: #8E9D79;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.concepts--list {
  margin: 0;
  padding-top: 8px;
  color: black;
  font-size: 22px;
  line-height: 26px;
}

.course-stats {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.course-stats a {
  font-weight: bold;
}

.course-stats a:after {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  background: #547818;
  transition: 300ms;
}

.course-stats a:hover:after {
  width: 100%;
}

.course-stat {
  font-size: 14px;
  color: #787575;
}

.course-stat-br {
  height: 16px;
  width: 3px;
  background-color: #C4C4C4;
}

.course-apply {
  font-size: 14px;
  color: black;
}